.lscs-background {
  background: url('pastagarlic.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

.sadmilk {
  background: url('sadmilk.jpg') no-repeat center center fixed;
  background-size: cover;
}

.jumbotron{
  background: rgba(255, 254, 255, 0.6);
  padding: 30px;
}

h1 {
  font-family: 'Pacifico', cursive;
  padding-bottom: 30px;
}
