.lscs-background {
  background: url('pastagarlic.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

.lfcs-background {
  background: url('pastagarlic.jpg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  background-color: #ffffff;
}

h1 {
  font-family: 'Pacifico', cursive;
  padding-bottom: 20px;
  letter-spacing: 2px;
}

h4 {
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

h2, li, .table, .checkbox {
  /*font-family: Georgia;*/
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.sadmilk {
  background: url('sadmilk.jpg') no-repeat center center fixed;
  background-size: cover;
}

.jumbotron{
  background: rgba(255, 254, 255, 0.6);
  /*padding: 30px;*/
}
