<div class='container'>
  <form action="/ingredients" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="id" value="<%= @ingredient.id %>">
      <div class='form-group'>
        <label for="description">Ingredient Name</label>
        <input type="text" class="form-control" name="description" value="<%= @ingredient.description %>">
      </div>
    <button type="submit" class="btn btn-primary btn-md">Edit</button>
  </form>
</div>
