<!DOCTYPE html>
<html>
<head>
  <title>Recipe Box</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/public2/recipe_box.css'>
</head>
<div class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Recipe Box</a>
      <a href="/ingredients" class="navbar-brand">All Ingredients</a>
      <a href="/recipes" class="navbar-brand">All Recipes</a>
    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</html>
