<body class="lfcs-background">
  <div class="container">
    <h1>My Recipes</h1>
    <p></p>
    <form action="/recipes" method="post">
        <div class="form-group">
          <label for="name">Add a new recipe:</label>
          <input type="text" class="form-control" name="name" placeholder="e.g. Strawberry shortcake">
        </div>
      <button type="submit" class="btn btn-primary btn-md">Add!</button>
    </form>
  </div>
</body>

</br>

<table class="table">
  <tr>
    <th>Recipe Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
    <% if @recipes %>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></td>
          <td><a href="/recipes/<%= recipe.id %>/edit">Edit</a></td>
          <td><a href="/recipes/<%= recipe.id %>/delete">Delete</a></td>
        </tr>
      <% end %>
    <% end %>
</table>
